@charset "utf-8";
body{
    color: #282828;
}
.descText{
    font-family: "museo-sans", sans-serif;
    font-weight: 100;
    font-style: normal;
}
.boldText{
    font-family: "museo-sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.hoverFade{
    cursor: pointer;
    transition: all .382s ease-in-out;
}
.hoverFade:hover{
    opacity: 0;
}
.hoverGold{
    cursor: pointer;
    transition: all .382s ease-in-out;
    background-color: var(--bmGreen);
}
.hoverGold:hover{
    background-color: var(--bmGold);
}
div div div .serviceImg{
    transition: all .382s ease-in-out;
}
div div div:hover .serviceImg{
    opacity:0;
}
.serviceText{
    font-size: 2.5vw;
}
/* Ramsey Shaban 2020-2021 */